.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1280px;
    height: 832px;
    position: relative;
  }
  
  .home .overlap {
    position: absolute;
    width: 1525px;
    height: 104px;
    top: 0;
    left: -105px;
    background-color: #e5f2f7;
  }
  
  .home .navbar {
    position: absolute;
    width: 698px;
    height: 39px;
    top: 33px;
    left: 655px;
  }
  
  .home .text-wrapper {
    width: 93px;
    left: 415px;
    position: absolute;
    height: 39px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-2 {
    width: 118px;
    left: 251px;
    position: absolute;
    height: 39px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-3 {
    width: 110px;
    left: 108px;
    position: absolute;
    height: 39px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-4 {
    width: 76px;
    left: 0;
    position: absolute;
    height: 39px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-5 {
    width: 145px;
    left: 543px;
    position: absolute;
    height: 39px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .garuda-universal {
    position: absolute;
    width: 90px;
    height: 92px;
    top: 6px;
    left: 143px;
    object-fit: cover;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 1220px;
    height: 561px;
    top: 120px;
    left: 34px;
  }
  
  .home .overlap-2 {
    position: absolute;
    width: 1220px;
    height: 561px;
    top: 0;
    left: 0;
  }
  
  .home .group {
    position: absolute;
    width: 218px;
    height: 39px;
    top: 522px;
    left: 569px;
  }
  
  .home .text-wrapper-6 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-wrapper {
    position: absolute;
    width: 1220px;
    height: 478px;
    top: 49px;
    left: 0;
  }
  
  .home .overlap-3 {
    position: relative;
    width: 1222px;
    height: 478px;
    left: -4px;
  }
  
  
  .home .img {
    position: absolute;
    width: 371px;
    height: 413px;
    top: 33px;
    left: 851px;
  }
  
  .home .text-wrapper-7 {
    position: absolute;
    width: 259px;
    height: 478px;
    top: 0;
    left: 885px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-group-wrapper {
    position: absolute;
    width: 407px;
    height: 52px;
    top: 0;
    left: 636px;
  }
  
  .home .overlap-4 {
    position: relative;
    width: 405px;
    height: 52px;
    background-color: #d9d9d9;
    border-radius: 30px;
  }
  
  .home .text-wrapper-8 {
    position: absolute;
    width: 232px;
    top: 12px;
    left: 25px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .icon-search {
    position: absolute;
    width: 27px;
    height: 29px;
    top: 12px;
    left: 356px;
  }
  
  .home .iconly-bold-profile-wrapper {
    position: absolute;
    width: 50px;
    height: 49px;
    top: 0;
    left: 1077px;
    background-color: #2bbcea;
    border-radius: 25px/24.5px;
  }
  
  .home .iconly-bold-profile {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 7px;
  }
  
  .home .iconly-light-logout-wrapper {
    position: absolute;
    width: 50px;
    height: 49px;
    top: 0;
    left: 1154px;
    background-color: #f14c4c;
    border-radius: 25px/24.5px;
  }
  
  .home .iconly-light-logout {
    position: absolute;
    width: 38px;
    height: 35px;
    top: 6px;
    left: 9px;
  }
  
  .home .group-2 {
    position: absolute;
    width: 399px;
    height: 90px;
    top: 710px;
    left: 469px;
  }
  
  .home .div-wrapper {
    position: absolute;
    width: 101px;
    height: 83px;
    top: 0;
    left: 156px;
  }
  
  .home .overlap-group-2 {
    position: relative;
    width: 99px;
    height: 83px;
  }
  
  .home .rectangle {
    position: absolute;
    width: 87px;
    height: 83px;
    top: 0;
    left: 6px;
    background-color: #e5f2f7;
  }
  
  .home .text-wrapper-9 {
    position: absolute;
    width: 99px;
    height: 23px;
    top: 56px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .call-removebg {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 13px;
    left: 33px;
    object-fit: cover;
  }
  
  .home .group-3 {
    position: absolute;
    width: 101px;
    height: 89px;
    top: 1px;
    left: 0;
  }
  
  .home .overlap-5 {
    position: relative;
    width: 99px;
    height: 89px;
  }
  
  .home .text-wrapper-10 {
    position: absolute;
    width: 99px;
    height: 47px;
    top: 42px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .loc-removebg-preview {
    position: absolute;
    width: 47px;
    height: 48px;
    top: 2px;
    left: 26px;
    object-fit: cover;
  }
  
  .home .group-4 {
    position: absolute;
    width: 89px;
    height: 83px;
    top: 0;
    left: 312px;
  }
  
  .home .overlap-6 {
    position: relative;
    width: 87px;
    height: 83px;
    background-color: #e5f2f7;
  }
  
  .home .text-wrapper-11 {
    position: absolute;
    width: 85px;
    height: 19px;
    top: 58px;
    left: 2px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .catalog-removebg {
    position: absolute;
    width: 57px;
    height: 48px;
    top: 8px;
    left: 15px;
    object-fit: cover;
  }
  
  .home .rectangle-2 {
    position: absolute;
    width: 60px;
    height: 33px;
    top: 269px;
    left: 1826px;
    background-color: #d9d9d9;
  }
  