.login {
    display: contents;
    justify-content: center;
    width: 100%;
  }
  
  .login .div {
    background-color: #100e32;
    overflow: auto;
    width: 1280px;
    height: 832px;
    position: absolute;
    
  }
  
  .login .overlap {
    position: absolute;
    width: 1280px;
    height: 832px;
    top: 0;
    left: 0;
    background-image: url(./img/whatsapp-image-2024-02-25-at-9-32-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
 
  
  .login .bar-login {
    position: absolute;
    width: 720px;
    height: 707px;
    top: 62px;
    left: 88px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px #00000040;
    background: linear-gradient(180deg, rgb(180.75, 207.39, 231.98) 0%, rgba(180.75, 207.39, 231.98, 0) 100%);
  }
  
  .login .overlap-group {
    position: absolute;
    width: 550px;
    height: 74px;
    top: 71px;
    left: 84px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .login .text-wrapper {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 18px;
    left: 8px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .div-wrapper {
    position: absolute;
    width: 550px;
    height: 74px;
    top: 205px;
    left: 84px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .login .overlap-2 {
    position: absolute;
    width: 242px;
    height: 63px;
    top: 328px;
    left: 292px;
  }
  
  .login .rectangle {
    width: 115px;
    height: 54px;
    top: 0;
    left: 0;
    background-color: #beebff;
    position: absolute;
    border-radius: 10px;
  }
  
  .login .text-wrapper-2 {
    width: 216px;
    top: 12px;
    left: 26px;
    color: #000000;
    position: absolute;
    height: 39px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .text-wrapper-3 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 31px;
    left: 84px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .overlap-3 {
    position: absolute;
    width: 388px;
    height: 40px;
    top: 606px;
    left: 165px;
  }
  
  .login .don-t-have-an {
    position: absolute;
    width: 302px;
    height: 39px;
    top: 1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .text-wrapper-4 {
    width: 108px;
    top: 17px;
    left: 220px;
    color: #ffffff;
    text-decoration: underline;
    position: absolute;
    height: 39px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .text-wrapper-5 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 166px;
    left: 84px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .text-wrapper-6 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 423px;
    left: 339px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login .gugel-removebg-wrapper {
    position: absolute;
    width: 45px;
    height: 39px;
    top: 483px;
    left: 219px;
    background-color: #e5f2f7;
    border-radius: 10px;
  }
  
  .login .gugel-removebg {
    position: absolute;
    width: 29px;
    height: 39px;
    top: 0;
    left: 8px;
    object-fit: cover;
  }
  
  .login .overlap-4 {
    position: absolute;
    width: 69px;
    height: 46px;
    top: 479px;
    left: 433px;
  }
  
  .login .rectangle-2 {
    width: 45px;
    height: 39px;
    top: 4px;
    left: 12px;
    background-color: #e5f2f7;
    position: absolute;
    border-radius: 10px
  }

  .login .fb-removebg-preview-wrapper {
    position: absolute;
    width: 69px;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #e5f2f7;
    border-radius: 10px;
  }
  
  
  .login .ip-removebg-preview {
    position: absolute;
    width: 69px;
    height: 46px;
    top: 20px;
    left: 10px;
    object-fit: cover;

  }

  
  .login .fb-removebg-preview-wrapper {
    position: absolute;
    width: 45px;
    height: 39px;
    top: 483px;
    left: 331px;
    background-color: #e5f2f7;
    border-radius: 10px;
  }
  
  .login .fb-removebg-preview {
    position: absolute;
    width: 31px;
    height: 39px;
    top: 0;
    left: 8px;
    object-fit: cover;
  }
  

  .div .garuda-universal {
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    left: 80%;
  }

  .login .text-wrapper-7 {
    position: absolute;
    width: 366px;
    height: 360px;
    top: 329px;
    left: 852px;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    font-size: 64px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  