.perlengkapan-ubah {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .perlengkapan-ubah .div {
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    background: linear-gradient(
      180deg,
      rgb(228.08, 248.54, 255) 0%,
      rgb(255, 255, 255) 40.87%,
      rgb(224.04, 246.22, 253.23) 100%
    );
    width: 1280px;
    height: 832px;
    position: relative;
  }
  
  .perlengkapan-ubah .overlap {
    position: absolute;
    width: 718px;
    height: 244px;
    top: 337px;
    left: 365px;
  }
  
  .perlengkapan-ubah .rectangle {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 76px;
    left: 46px;
    background-color: #e5f2f7;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .perlengkapan-ubah .rectangle-2 {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 76px;
    left: 275px;
    background-color: #e5f2f7;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .perlengkapan-ubah .rectangle-3 {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 76px;
    left: 516px;
    background-color: #e5f2f7;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .perlengkapan-ubah .rectangle-4 {
    position: absolute;
    width: 718px;
    height: 244px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(182.55, 213.12, 222.77) 0%, rgba(182.55, 213.12, 222.77, 0) 26.67%);
  }
  
  .perlengkapan-ubah .img {
    position: absolute;
    width: 77px;
    height: 25px;
    top: 81px;
    left: 293px;
  }
  
  .perlengkapan-ubah .text-wrapper {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 9px;
    left: 10px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .text-wrapper-2 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 10px;
    left: 234px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .text-wrapper-3 {
    position: absolute;
    width: 253px;
    height: 39px;
    top: 10px;
    left: 465px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .line {
    height: 41px;
    top: 10px;
    left: 215px;
    object-fit: cover;
    position: absolute;
    width: 1px;
  }
  
  .perlengkapan-ubah .line-2 {
    height: 41px;
    top: 10px;
    left: 450px;
    object-fit: cover;
    position: absolute;
    width: 1px;
  }
  
  .perlengkapan-ubah .rectangle-5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 53px;
    left: 290px;
    border: 0.2px solid;
    border-color: #000000;
  }
  
  .perlengkapan-ubah .line-3 {
    height: 25px;
    top: 81px;
    left: 362px;
    position: absolute;
    width: 1px;
  }
  
  .perlengkapan-ubah .group {
    position: absolute;
    width: 407px;
    height: 52px;
    top: 57px;
    left: 367px;
  }
  
  .perlengkapan-ubah .overlap-group {
    position: relative;
    width: 405px;
    height: 52px;
    background-color: #d1d1d1;
    border-radius: 30px;
  }
  
  .perlengkapan-ubah .text-wrapper-4 {
    position: absolute;
    width: 232px;
    top: 12px;
    left: 25px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .icon-search {
    position: absolute;
    width: 27px;
    height: 29px;
    top: 12px;
    left: 356px;
  }
  
  .perlengkapan-ubah .group-2 {
    position: absolute;
    width: 248px;
    height: 39px;
    top: 286px;
    left: 363px;
  }
  
  .perlengkapan-ubah .text-wrapper-5 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 0;
    left: 30px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .perlengkapan-ubah .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    left: 0;
  }
  
  .perlengkapan-ubah .overlap-2 {
    position: absolute;
    width: 311px;
    height: 851px;
    top: 0;
    left: 0;
    background-color: #e5f2f7;
  }
  
  .perlengkapan-ubah .iconly-bold-profile-wrapper {
    position: absolute;
    width: 122px;
    height: 122px;
    top: 23px;
    left: 90px;
    background-color: #ffffff;
    border-radius: 61px;
  }
  
  .perlengkapan-ubah .iconly-bold-profile {
    position: absolute;
    width: 88px;
    height: 90px;
    top: 15px;
    left: 17px;
  }
  
  .perlengkapan-ubah .div-muistack-root {
    position: absolute;
    width: 290px;
    height: 48px;
    top: 161px;
    left: 6px;
  }
  
  .perlengkapan-ubah .heading {
    position: absolute;
    width: 290px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .perlengkapan-ubah .text-wrapper-6 {
    position: absolute;
    width: 98px;
    height: 16px;
    top: 2px;
    left: 95px;
    font-family: "Public Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #212b36;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .perlengkapan-ubah .p-muitypography-root {
    position: absolute;
    width: 290px;
    height: 22px;
    top: 26px;
    left: 0;
  }
  
  .perlengkapan-ubah .text-wrapper-7 {
    position: absolute;
    width: 125px;
    height: 16px;
    top: 2px;
    left: 82px;
    font-family: "Public Sans-Regular", Helvetica;
    font-weight: 400;
    color: #919eab;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .perlengkapan-ubah .link {
    position: absolute;
    width: 124px;
    height: 36px;
    top: 226px;
    left: 88px;
    background-color: #212b36;
    border-radius: 8px;
  }
  
  .perlengkapan-ubah .ubah-profil {
    position: absolute;
    width: 101px;
    height: 16px;
    top: 9px;
    left: 12px;
    font-family: "Public Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .perlengkapan-ubah .group-3 {
    position: absolute;
    width: 255px;
    height: 319px;
    top: 392px;
    left: 44px;
  }
  
  .perlengkapan-ubah .group-4 {
    position: absolute;
    width: 255px;
    height: 46px;
    top: 0;
    left: 2px;
  }
  
  .perlengkapan-ubah .text-wrapper-8 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 7px;
    left: 37px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .iconly-light {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .perlengkapan-ubah .group-5 {
    position: absolute;
    width: 253px;
    height: 39px;
    top: 64px;
    left: 1px;
  }
  
  .perlengkapan-ubah .iconly-light-user {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 0;
  }
  
  .perlengkapan-ubah .text-wrapper-9 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 0;
    left: 35px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .group-6 {
    position: absolute;
    width: 257px;
    height: 39px;
    top: 208px;
    left: 0;
  }
  
  .perlengkapan-ubah .text-wrapper-10 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 0;
    left: 39px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .group-7 {
    position: absolute;
    width: 256px;
    height: 39px;
    top: 136px;
    left: 0;
  }
  
  .perlengkapan-ubah .text-wrapper-11 {
    position: absolute;
    width: 216px;
    height: 39px;
    top: 0;
    left: 38px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .group-8 {
    position: absolute;
    width: 256px;
    height: 39px;
    top: 280px;
    left: 0;
  }
  
  .perlengkapan-ubah .iconly-broken-bag {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    left: 0;
  }
  
  .perlengkapan-ubah .group-9 {
    position: absolute;
    width: 257px;
    height: 39px;
    top: 316px;
    left: 47px;
  }
  
  .perlengkapan-ubah .perlengkapan {
    position: absolute;
    width: 285px;
    height: 39px;
    top: 200px;
    left: 373px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perlengkapan-ubah .garuda-universal {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 28px;
    left: 1125px;
    object-fit: cover;
  }
  
  .perlengkapan-ubah .div-wrapper {
    left: 972px;
    position: absolute;
    width: 124px;
    height: 36px;
    top: 746px;
    background-color: #044784;
    border-radius: 8px;
  }
  
  .perlengkapan-ubah .text-wrapper-12 {
    position: absolute;
    width: 101px;
    height: 16px;
    top: 9px;
    left: 12px;
    font-family: "Public Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .perlengkapan-ubah .link-2 {
    left: 1115px;
    position: absolute;
    width: 124px;
    height: 36px;
    top: 746px;
    background-color: #044784;
    border-radius: 8px;
  }
  