.sign-up {
    background-color: #9ad9f840;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-up .overlap-wrapper {
    overflow-x: hidden;
    width: 261px;
    height: 614px;
  }
  
  .sign-up .overlap {
    position: relative;
    width: 268px;
    height: 614px;
    left: -7px;
  }
  
  .sign-up .frame {
    position: absolute;
    width: 261px;
    height: 614px;
    top: 0;
    left: 7px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    background: linear-gradient(
      180deg,
      rgb(3.35, 36.41, 66.94) 0%,
      rgba(3.14, 38.15, 70.48, 0.94) 17.17%,
      rgba(1.08, 55.55, 105.83, 0.32) 87.67%,
      rgba(0, 64.64, 124.31, 0) 100%
    );
  }
  
  .sign-up .component {
    position: relative;
    width: 15px;
    height: 15px;
    top: 178px;
    left: 35px;
    background-color: #d9d9d9;
    border-radius: 3px;
  }
  
  .sign-up .rectangle {
    width: 181px;
    top: 45px;
    left: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #d9d9d9;
    position: absolute;
    height: 39px;
  }
  
  .sign-up .div {
    width: 181px;
    top: 127px;
    left: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #d9d9d9;
    position: absolute;
    height: 39px;
  }
  
  .sign-up .text-wrapper-4 {
    position: absolute;
    width: 126px;
    top: 9px;
    left: 29px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .sign-up .text-wrapper {
    position: absolute;
    width: 166px;
    top: 17px;
    left: 13px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  
  
  
  .sign-up .text-wrapper-2 {
    position: absolute;
    width: 166px;
    top: 55px;
    left: 21px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #d9d9d9;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-3 {
    position: absolute;
    width: 166px;
    top: 137px;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #d9d9d9;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .password {
    position: absolute;
    width: 143px;
    top: 99px;
    left: 27px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .sign-up .group {
    position: absolute;
    width: 183px;
    height: 39px;
    top: 231px;
    left: 40px;
  }
  
  .sign-up .overlap-group {
    position: relative;
    width: 181px;
    height: 39px;
    background-color: #044784;
    border-radius: 20px;
  }
  
  
  .sign-up .text-wrapper-5 {
    position: absolute;
    width: 74px;
    top: 180px;
    left: 45px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .rectangle-2 {
    width: 200px;
    top: 360px;
    left: 30px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgb(3.35, 36.41, 66.94) 0%,
      rgba(3.14, 38.15, 70.48, 0.94) 17.17%,
      rgba(1.08, 55.55, 105.83, 0.32) 87.67%,
      rgba(0, 64.64, 124.31, 0) 100%
    );
    position: absolute;
    height: 39px;
  }
  
  .sign-up .rectangle-3 {
    width: 200px;
    top: 414px;
    left: 30px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgb(3.35, 36.41, 66.94) 0%,
      rgba(3.14, 38.15, 70.48, 0.94) 17.17%,
      rgba(1.08, 55.55, 105.83, 0.32) 87.67%,
      rgba(0, 64.64, 124.31, 0) 100%
    );
    position: absolute;
    height: 39px;
  }
  
  .sign-up .rectangle-4 {
    width: 200px;
    top: 471px;
    left: 30px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgb(3.35, 36.41, 66.94) 0%,
      rgba(3.14, 38.15, 70.48, 0.94) 17.17%,
      rgba(1.08, 55.55, 105.83, 0.32) 87.67%,
      rgba(0, 64.64, 124.31, 0) 100%
    );
    position: absolute;
    height: 39px;
  }
  
  .sign-up .text-wrapper-6 {
    position: absolute;
    width: 56px;
    top: 313px;
    left: 103px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sign-up .gugel-removebg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 364px;
    left: 40px;
    object-fit: cover;
  }
  
  .sign-up .fb-removebg-preview {
    position: absolute;
    width: 30px;
    height: 35px;
    top: 416px;
    left: 40px;
    object-fit: cover;
  }
  
  .sign-up .ip-removebg-preview {
    position: absolute;
    width: 50px;
    height: 53px;
    top: 465px;
    left: 30px;
    object-fit: cover;
  }
  
  .sign-up .text-wrapper-7 {
    width: 175px;
    top: 371px;
    left: 50px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-8 {
    width: 152px;
    top: 425px;
    left: 71px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up .text-wrapper-9 {
    width: 125px;
    top: 482px;
    left: 75px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  